.style-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #050500;
  font-weight: 500;
}
.style-p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #050500;
  font-weight: 400;
}
.style-misc {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
}
