.style-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #050500;
  font-weight: 500;
}
.style-p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #050500;
  font-weight: 400;
}
.style-misc {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
}
header {
  background-color: #f8df1f;
  padding: 3% 0;
}
@media (min-width: 1400px) {
  header {
    padding: 2% 0;
  }
}
nav {
  padding-left: 5%;
}
a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
}
a:hover {
  color: #ee252f;
}
.active {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  color: #ee252f;
}
.active:hover {
  color: #080801;
}
.jumbotron {
  background-image: url('../img/banner-bg.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 15% 0;
  text-align: center;
}
.jumbotron img {
  display: block;
  margin: 0 auto;
  padding-bottom: 2%;
}
@media (max-width: 700px) {
  .jumbotron img {
    max-width: 50%;
  }
}
.btn-primary {
  background-color: #f8df1f;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
