@import "variables";

// Header

header {
  background-color: @yellow-primary;
  padding: 3% 0;
  @media (min-width: 1400px) {
  padding: 2% 0;
  }
}

nav {
  padding-left: 5%;
}

a {
  .style-misc();
  &:hover {
    color: @red-primary;
  }
}

.active {
  .style-misc();
  text-transform: uppercase;
  color: @red-primary;
  &:hover {
    color: @black-primary;
  }
}

// Hero Image

  .jumbotron {
    background-image: url('../img/banner-bg.png');
    background-size: cover;
  	background-position: bottom;
  	background-repeat: no-repeat;
    padding: 15% 0;
    text-align: center;

    img {
      display: block;
      margin: 0 auto;
      padding-bottom: 2%;
      @media (max-width: 700px) {
      max-width: 50%;
      }
    }
  }


// Buttons

.btn-primary {
  background-color: @yellow-primary;
  border: none;
  .style-misc();
  text-transform: uppercase;
}

// World's Best Burger

.menu {
  padding: 3% 0 5% 0;
  img {
    @media (max-width: 700px) {
    display: block;
    margin: 0 auto;
    padding: 15% 0;
    max-width: 50%;
    }
  }
}

// Dine-In or Take-Out

.contact {
  background-color: @gray-primary;
  padding: 3% 0;
  @media (max-width: 700px) {
  padding: 7% 0;
    img {
      display: block;
      margin: 0 auto;
      padding: 15% 0;
      max-width: 50%;
    }
  }
}

//Headings

h2 {
  .style-heading();
}

.lowercase-span {
  text-transform: lowercase;
}

.red-span {
  color: @red-primary;
}

// Footer
