// Primary Colors
@gray-primary: #f3f3f3;
@yellow-primary: #f8df1f;
@red-primary: #ee252f;
@black-primary: #080801;
@gray-secondary: #050500;

// Font Styling

.style-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #050500;
  font-weight: 500;
}

.style-p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #050500;
  font-weight: 400;
}

.style-misc {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
}
